{% extends "OTSCoreBundle::layout.html.twig" %}

{% block title %}
  	Home - {{ parent() }}
{% endblock %}

{% block body %}
	{% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <h1>Bonsoir</h1>
{% endblock %}