<div class="row text-center" id="contact">
    <h2>Contact</h2>

    <div class="vertical-align">
        <div class="col-xs-12 col-sm-6">
            <address class="left-centered">
                Musée du Louvre, Pavillon Mollien,<br />
                75058 PARIS CEDEX 01<br />
                FRANCE
            </address>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p class="hr-border">
                +33 (0)1 40 20 53 17<br />
                info@louvre.fr
            </p>
            
            <p>
                <a href="https://www.facebook.com" title="Facebook">
                    <i class="fa fa-facebook-square fa-3x"></i>
                </a>
                <a href="https://plus.google.com" title="Google+">
                    <i class="fa fa-google-plus-square fa-3x"></i>
                </a>
                <a href="https://www.twitter.com" title="Twitter">
                    <i class="fa fa-twitter-square fa-3x"></i>
                </a>
            </p>
        </div>
    </div>
</div>
