<div class="row text-center">
    <div class="col-xs-12" id="opening-time">
        <h2>{{ 'core.home.opening.title'|trans }}</h2>

        <p class="left-centered">
            {{ 'core.home.opening.content'|trans|nl2br }}
        </p>
    </div>
</div>
