@font-face {
	font-family: 'Work Sans';
	src: url('../../bundles/otscore/fonts/WorkSans-Regular.eot');
	src: url('../../bundles/otscore/fonts/WorkSans-Regular.eot?iefix') format('eot'),
	     url('../../bundles/otscore/fonts/WorkSans-Regular.woff') format('woff'),
     	 url('../../bundles/otscore/fonts/WorkSans-Regular.woff2') format('woff2'),
	     url('../../bundles/otscore/fonts/WorkSans-Regular.ttf') format('truetype'),
	     url('../../bundles/otscore/fonts/WorkSans-Regular.svg#webfont') format('svg');
}

body {
	font-family: 'Work Sans', Arial, sans-serif;
}

#wrapper {
	margin-top: 60px;
}