@font-face {
	font-family: 'Work Sans';
	src: url('../../bundles/otscore/fonts/WorkSans-Regular.eot');
	src: url('../../bundles/otscore/fonts/WorkSans-Regular.eot?iefix') format('eot'),
	     url('../../bundles/otscore/fonts/WorkSans-Regular.woff') format('woff'),
     	 url('../../bundles/otscore/fonts/WorkSans-Regular.woff2') format('woff2'),
	     url('../../bundles/otscore/fonts/WorkSans-Regular.ttf') format('truetype'),
	     url('../../bundles/otscore/fonts/WorkSans-Regular.svg#webfont') format('svg');
}

body {
	font-family: 'Work Sans', Arial, sans-serif;
}

#header {
	background-color: #222;
	border: none;
	font-size: 1.2em;
}
.navbar, #header .nav li, #header .nav {
	z-index: 9999;
}
#header .navbar-header, #header .navbar-collapse, #header ul {
	height: 80px;
}
#header .nav a {
	color: #eee;
	padding: 0 15px;
	margin: 30px 0 25px 0;
	z-index: 9999;
}
#header .nav a:focus, #header .nav a:active, #header .nav a:hover, #header .active a {
	background-color: inherit;
	color: white;
}
#header .active {
	border-bottom: 5px solid #eee;
}
#header button {
	margin: 23px 25px 23px 0;
}




@media (max-width: 767px) {
	#header .navbar-collapse, #header ul {
		height: auto;
	}

	#header .nav a {
		margin: 15px 0;
	}

	#header .active {
		border-bottom: none;
	}
	#header .active a {
		border-bottom: 3px solid #eee;
	}
}